<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbio.rpgcommunity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sub_activitys.AdicionarJogadorActivity"></activity>
        <activity android:name=".sub_activitys.ChatSessaoActivity" />
        <activity android:name=".sub_activitys.SessaoActivity" />
        <activity android:name=".sub_activitys.PersonagemActivity" />
        <activity android:name=".sub_activitys.PerfilActivity" />
        <activity
            android:name=".logincadastro.Login"
            android:label="@string/app_name"
            >
            <!--android:screenOrientation="portrait"-->

            <!-- Screen orientation -> portrait faz com que não seja possível virar a tela na horizontal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".logincadastro.EsqueciASenha">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".logincadastro.Login" />
        </activity>
        <activity android:name=".logincadastro.Cadastro">

            <!-- android:label="@string/txtManRegistreSe" faz mudar o texto na toolbar -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".logincadastro.Login" />
        </activity>
        <activity android:name=".Configuracoes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".criar.CriarPersonagem"
            android:label="@string/txtManNovoPersonagem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".criar.CriarSessao"
            android:label="@string/txtManNovaSessao"
            android:windowSoftInputMode="adjustNothing">

            <!-- android:windowSoftInputMode="adjustNothing" faz com que o botão de criar sessão esteja fixo e não se mova quando abrir o teclado -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AmigosChat" />
    </application>

</manifest>